torch==2.4.0
torchvision==0.19.0
numpy==1.26.4
tqdm
matplotlib
pandas
wandb
comet_ml
hydra-core
amulet-core==1.9.32
nbtlib==2.0.4
mcschematic==11.4.3
immutable-views==0.6.1
scikit-learn==1.7.2

black
isort
pre-commit
